@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-slate-900 text-gray-400;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  @apply text-sm text-gray-300
}

/* daisyui styles override */
.homeTab .tab {
  --tab-color: #6b7280 !important;
  --tab-border-color: #6b7280 !important;
}

.homeTab .tab-bordered {
  border-color: #4b5563 !important;
}

.homeTab .tab-active {
  border-color: #d1d5db !important;
  color: #d1d5db !important;
}

.postFormTab .tab {
  --tab-bg: #4f46e5 !important;
  --tab-border-color: #374151 !important;
  color: #d1d5db !important;
}

.postFormTab .tab-lifted {
  border: 0 !important;
}

.postFormTab .tab-active {
  background-color: #4f46e5 !important;
}

/* for markdown used */
#mardown-group h1,
#mardown-group h2,
#mardown-group h3 {
  @apply border-b border-gray-600;
}

#mardown-group {
  @apply text-white;
}