@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap');

html,
body {
  @apply bg-slate-900;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.blopdown {
  font-family: 'Cabin', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  @apply text-sm text-gray-400
}

/* daisyui styles override */
.tab {
  --tab-bg: #4f46e5 !important;
}

.tab-active {
  background-color: #4f46e5 !important;
}

/* for markdown used */
#mardown-group h1,
#mardown-group h2,
#mardown-group h3,
#mardown-group h4,
#mardown-group h5,
#mardown-group h6 {
  @apply text-white mb-4 pb-1 font-bold border-b border-gray-600;
}

#mardown-group h1 {
  @apply text-3xl font-bold;
}

#mardown-group h2 {
  @apply text-2xl font-bold;
}

#mardown-group h3 {
  @apply text-2xl;
}

#mardown-group h4 {
  @apply text-xl;
}

#mardown-group p {
  @apply text-gray-300 text-base mb-5;
}

#mardown-group a {
  @apply hover:underline cursor-pointer text-blue-400;
}

#mardown-group ul {
  @apply mb-5;
}

#mardown-group li::before {
  content: "• ";
}

#mardown-group .task-list-item>p::before {
  content: "";
}

blockquote {
  margin: 0;
  padding-left: 1.4rem;
  border-left: 4px solid #0e7490;
  margin-bottom: 1.25rem;
  background-color: #292524;
}

pre {
  @apply p-2 rounded-md overflow-x-auto bg-black mb-5;
}

pre>code {
  @apply p-0 bg-transparent text-sm;
}

code {
  @apply px-1 rounded-md bg-gray-700 text-sm;
}